<section id="section-override" class="section">
<article class="article">
  <h1 class="is-size-2 has-text-centered">
    <%= __('tag') %>: <%- page.tag %>
  </h1>
  <hr id="hr-override">
  <div id="less-top-padding" class="section">
    <div class="tag-section">
      <h1 class="is-size-4">
        <%- fa_inline('tags', {prefix: 'fas'}) %>
        <%- page.tag %>
      </h1>
      <% page.posts.sort('-date').map(function(post, i){ %>
        <a href="<%- url_for(post.path) %>">
          <div class="columns is-mobile is-gapless">
            <div class="column is-1 is-hidden-mobile"></div>
            <div class="column is-4">
              <h2 class="is-size-6">
                <time datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%= date(post.date, 'MMM DD, YYYY') %></time>
              </h2>
            </div>
            <div class="column auto">
              <h2 class="is-size-6">
                <%= post.title %>
              </h2>
            </div>
          </div>
        </a>
      <% }) %>
    </div>
  </div>
</article>
</section>
