<!-- Article Contents -->
<section id="section-override" class="section">
<article class="article">
  <h1 class="is-size-3 has-text-centered" style="padding-top: 15px;">
    <%- post.title %>
  </h1>
  <% if (is_post() || is_home()){ %>
  <h2 class="is-size-5 has-text-centered" style="padding-top: 0">
    <time datetime="<%= date_xml(post.date) %>"><%= date(post.date, 'MMMM D, YYYY') %></time>
  </h2>
  <% } %>
  <hr id="hr-top">
  <%- post.content %>
  <% if (is_post() || is_home()){ %>
  <hr id="hr-bottom">
  <span class="is-size-7 font-sans">
    <%- fa_inline('folder-open', {prefix: 'fas'}) %>
    <%- list_categories(post.categories, {
      show_count: false,
      class: 'article-tag'
    }) %>
  </span>
  <br>
  <span class="is-size-7 font-sans">
    <%- fa_inline('tags', {prefix: 'fas'}) %>
    <%- list_tags(post.tags, {
      show_count: false,
      class: 'article-tag'
    }) %>
  </span>
  <% } %>
  <%- partial('post-nav') %>
</article>
</section>

