<head>
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% if (config.author) { %>
  <meta name="author" content="<%- config.author %>" />
  <% }%>
  <% if (page.description){ %>
  <meta name="description" content="<%- page.description %>" />
  <% } else if (config.description) { %>
  <meta name="description" content="<%- config.description %>" />
  <% }%>

  <% if (page.keywords){ %>
  <meta name="keywords" content="<%- page.keywords %>" />
  <% } else if (page.tags && page.tags.length){ %>
  <meta name="keywords" content="<% page.tags.forEach(function(tag, i){ %><%- tag.name %><% }) %>" />
  <% } else if (config.keywords){ %>
  <meta name="keywords" content="<%- config.keywords %>" />
  <% }%>

  <% if (theme.google_site_verification){ %>
  <meta name="google-site-verification" content="<%- theme.google_site_verification %>" />
  <% } %>

  <% if (page.title){ %>
  <title><%- page.title %></title>
  <% } else if (config.title) { %>
  <title><%- config.title %></title>
  <% } %>

  <!-- FAVICON -->
  <link rel="icon" href="<%= config.root %><% if (theme.favicon){ %><%- theme.favicon %><% } else {%>favicon.ico<% } %>">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">

  <!-- CSS AND SCRIPTS -->
  <%- css('css/bulma.min.css') %>
  <%- css('css/main.css') %>

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">

  <!-- Inline Styles for Font Awesome -->
  <style>
  <%- fa_css() %>
  </style>

</head>
